body {
    background-color: #393e46;
    color:#eeeeee;
}
input{
    color:#52057b;
}
.header{
    width: 100vw;
    height:8vh;
    background-color:#00adb5 ;
    padding:2vh
}
.body{
    margin-top: 2vh;
}
.bHeader{
    margin-top: 10px;
}
.bBody{
    margin:2vh;
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .geoContC{
      margin:20px;
  }
  .map{
      margin:5vh;
      width:90vw;
      height:400px;
  }